/* Css style for portfolio website */
.dropdown-divider{
    color:gray;
}
.dropdown-item :hover{
    background-color: gray;
    color: black;
    font-weight: bold;
}
.number1{
    color: red;
}
.number2{
    color: green;
}
.dropdown-menu{
    border: 2px solid gray;
    border-radius: 0px 0px 10px 10px;
}

#images{
    width: 400px;
    height: 450px;
}

.text-style{
    margin: auto;
    text-align: center;
    align-items: center;
}