/* Css style for portfolio website */
.dropdown-divider{
    color: red;
}
.dropdown-item :hover{
    background-color: gray;
    color: black;
    font-weight: bold;
}
.number1{
    color: red;
}
.number2{
    color: green;
}